
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Raleway:wght@400;700;900&family=Staatliches&display=swap');

    :root{

        --Soft-orange: hsl(35, 77%, 62%);
        --Soft-red: hsl(5, 85%, 63%);
        --Very-dark-blue: hsl(240, 100%, 5%);
        --Dark-grayish-blue: hsl(236, 13%, 42%);
        --font-princial:'Inter', sans-serif;

    }
  

    body{
        max-width: 1440px;
        margin: 0 auto;         
    }
    .fijarbody{
        position: fixed;
    }  
   
    .attribution a {

        color: hsl(228, 45%, 44%);
     }

     .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
      
     }
     /* Icono .menu-hamburgesa */
     .menu-bar-hamb{        
        display: none;
        width:30px;
        height: 30px;
        cursor: pointer;
        z-index: 2;

     }
     .menu-bar-hamb span{
        display: block;
        width: 100%;
        height: 2.5px;
        border-radius: 1px;
        background-color: black;
        margin-top: 6px;
        transform-origin: 0px 100%;
        transition: all 0.3s;
     }
     .activaline1{
        transform: rotate(45deg) translate(-1px, 2px);
     }
     .activaline2{
        opacity: 0;
        margin-left: -30px;
     }
     .activaline3{
        transform: rotate(-45deg) translate(-3px, 3px);
     }

     .menu-respon{
        position: absolute;
        display: flex;
        justify-content:center;        
        align-items: center;
        right:-100%;
        top: 0;
        width: 70%;
        height: 100vh;
        background:white;
        opacity: 0;
        z-index: 1;
        transition: 0.3s;       
         
     }
     .activarMenu{
        display: flex;
        right: 0;
        opacity: 1;
        
     }

     .menu-respon ul{
        list-style: none;
        margin: 0;
        padding: 0 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5rem;
     }
     .menu-respon ul li{
        list-style: none;
        font-family: var(--font-princial);
        font-weight:400;
        text-align: left;
        padding: 0;
     }

     .logo h1{
        font-size: 3rem;
        font-weight: 900;
     }

     .nav ul{
        display: inline-block;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 2rem;
        font-family: var(--font-princial);        

     }
     .nav ul li{
        display: inline;
        padding:0 1rem;
        cursor: pointer;     
     }
     .nav ul li:hover{
        color:var(--Soft-orange);
        transition: .3s;

     }

    .cont-principal{
        display: flex;
        padding: 0 2rem;
        gap: 1rem;
        max-width: 1440px;
    }

    .cont-principal h1{
        margin: 0;

    }
    .cont-img{
        display: flex;
        max-width: 1440px;

    }

    .cont-img img{
        width: 1000px;
    }
    .imgmobil{
        display: none;
    }

    .cont-info{
      display: flex;
      justify-content: center;
      margin-top: 1rem;


    }
    .cont-info p{
    color:var(--Dark-grayish-blue);
    font-family: var(--font-princial);
    }
    .cont-info > div{
        width: 50%;
    }

    .cont-info h1{
        font-size: 2rem;
        font-weight: 900;
    }
    .title-web3 h1{
        line-height:4rem ;
        font-family: var(--font-princial);
        font-size: 5rem;
        font-weight: 700;
    }

    .button{
        display: inline-block;
        background-color: var(--Soft-red);
        color:white;
        text-transform: uppercase;
        text-align: center;
        padding: .8rem 2rem;
        font-family: var(--font-princial);
        font-size: .8rem;
        cursor: pointer;
        margin-top: 2rem;
    }
    .button:hover{
        background-color: var(--Very-dark-blue);
        transition: 0.3s;
    }

    .new{
        flex: auto;
        background-color: var(--Very-dark-blue);
        color:var(--Dark-grayish-blue);
        font-family: var(--font-princial);
        padding: 0 2rem;
    }

    .new h1{
        color:var(--Soft-orange);
        margin-top: 1.5rem;
    }

    .new h3{
        color:white;

    }
    .new h3:hover{
        color:var(--Soft-orange);
        cursor: pointer;
        transition: .3s;
    }

    .new div{
        border-bottom: 1px solid var(--Dark-grayish-blue);
    }

    .footer{
        padding: 0 2rem;
        justify-content: center;
    }


    .info-footer{
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
    .info{
        display: flex;
        justify-content: center;
        gap: 1rem;

    }

    .info h3{
        font-size: 2rem;
        font-family: var(--font-princial);
        color:var(--Dark-grayish-blue);
        margin: 0;
        opacity: .4;
    }
    .info h4{
        font-size: 1.2rem;
        font-weight: 900;
        font-family: var(--font-princial);

    }
    .info h4:hover{
        cursor: pointer;
        color:var(--Soft-red);
        transition: 0.3s;
    }

    .info p{
        font-family: var(--font-princial);
        color:var(--Dark-grayish-blue);
    }
    .info img{
        width: 130px;
    }

   @media (max-width:768px){


        .header{
            padding: 0 1rem;
            margin: 0rem;
        }
        .nav{
            display: none;
        }

        .cont-principal{
            display: block;
            padding: 0 1rem;
        }

        .cont-info{
            display: block;
        }
        .cont-info > div{
            width: 100%;
        }

        .title-web3 h1{
            font-size: 2.5rem;
            line-height: 2.5rem;
            text-align: center;

        }
        .cont-img{
            display: none;
        }
        .imgmobil{
            display: block;

        }
        .imgmobil img{
            width: 100%;
        }

        .new{
            padding: 0 1rem;
        }

        .footer{
            padding: 0 1rem;
        }

        .info{
            justify-content: left;
        }

        .info-footer{
            flex-direction: column;

        }

        .menu-bar-hamb{
            display: block;
        }


   }

   .attribution {
    background-color: var(--Very-dark-blue);
     font-size: 11px; text-align: center;
     padding: 1rem 2rem; 
     color:white;  
     font-size: 0.7rem;  
     max-width: 1440px; 
     margin-top: 1rem;  
 }
 .attribution a{    
    font-family: var(--font-princial);
    text-decoration: none;
    color:white;    
    
 }